<div class="container">
  <div class="row justify-content-center mt-5">
    <div
      class="col-7"
      style="
        color: brown;
        border-color: darkgoldenrod;
        border-style: solid;
        padding-top: 10px;
      "
    >
      <div class="row px-0">
        <div class="col-1 pt-1"><mat-icon>theaters</mat-icon></div>

        <div class="col-8"><h1>what is your favorite movie gener?</h1></div>
      </div>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <div class="col-4">
      <input
        style="
          outline: none;
          border-color: #669bbc;
          width: 100%;
          padding-top: 5px;
          padding-bottom: 5px;
          font-weight: 500;
        "
        placeholder="favorite movie"
        type="text"
        [(ngModel)]="favorite_"
      />
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-8">
      <app-favorite
        [favorite]="favorite_"
        (favoriteChange)="favorite_ = $event"
      ></app-favorite>
    </div>
  </div>
</div>
